services:
  centrifugo:
    image: centrifugo/centrifugo:v6
    command:
      - centrifugo
    ports:
      - "8000:8000"
    environment:
      - CENTRIFUGO_CLIENT_INSECURE=true
      - CENTRIFUGO_HTTP_STREAM_ENABLED=true
      - CENTRIFUGO_SSE_ENABLED=true
      - CENTRIFUGO_CHANNEL_WITHOUT_NAMESPACE_PRESENCE=true
      - CENTRIFUGO_CHANNEL_WITHOUT_NAMESPACE_DELTA_PUBLISH=true
      - CENTRIFUGO_CHANNEL_WITHOUT_NAMESPACE_ALLOWED_DELTA_TYPES=fossil
      - CENTRIFUGO_CHANNEL_WITHOUT_NAMESPACE_FORCE_POSITIONING=true
      - CENTRIFUGO_CHANNEL_WITHOUT_NAMESPACE_HISTORY_SIZE=10
      - CENTRIFUGO_CHANNEL_WITHOUT_NAMESPACE_HISTORY_TTL=60s
      - CENTRIFUGO_CHANNEL_WITHOUT_NAMESPACE_JOIN_LEAVE=true
      - CENTRIFUGO_CHANNEL_WITHOUT_NAMESPACE_FORCE_PUSH_JOIN_LEAVE=true
      - CENTRIFUGO_CLIENT_CONCURRENCY=8
      - CENTRIFUGO_LOG_LEVEL=trace
      - CENTRIFUGO_CLIENT_TOKEN_HMAC_SECRET_KEY=secret
      - CENTRIFUGO_HTTP_API_INSECURE=true
